@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/poppins-v23-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/poppins-v23-latin-700.woff2") format("woff2");
}

@import "tailwindcss";
@import "tw-animate-css";
@import "@mac/tailwind-config";
@source "../../../../packages/web-ui/src/";

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  html {
    scrollbar-gutter: stable both-edges;
  }

  html body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0 !important;
    margin-right: 0 !important;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
